{% extends 'base.html.twig' %}

{% block title %}Reinitailisation du mot de passe!{% endblock %}

{% block body %}


<div class="container">
        
    <section class="row">
    
        <div class="col-5 mx-auto">
            <h1 class="h3 mb-3 font-weight-normal mt-3">Réinitialisation du mot de passe !</h1>
            {{form(requestPassForm)}}
        </div>
    </section>

</div>
{% endblock %}